{% extends 'base.html' %}

{% block titulo %}Histórico de Frequência{% endblock %}

{% block conteudo %}
<body style="background: linear-gradient(to right, #000000, #1f1f1f); font-family: 'Segoe UI', sans-serif; color: white; min-height: 100vh;">

    <div class="container">
        <h2 class="text-center mb-4">Histórico de Frequência - {{ aluno.nome }}</h2>

        <div class="row">
            <!-- Gráfico -->
            <div class="col-md-9 mb-4">
                <div class="p-3 rounded" style="background-color: #212529;">
                    {{ figura_html|safe }}
                </div>
            </div>

            <!-- Tabela -->
            <div class="col-md-3">
                <div class="p-3 rounded" style="background-color: #212529; height: 75vh;">
                    <div style="height: 100%; overflow-y: auto;">
                        <table class="table table-dark table-striped table-hover mb-0" style="border-collapse: collapse; width: 100%; table-layout: fixed;">
                            <thead style="position: sticky; top: 0; background-color: #343a40; z-index: 1;">
                                <tr>
                                    <th style="width: 50%;">Data de Check-in</th>
                                    <th style="width: 50%;">Data de Check-out</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for freq in checkins %}
                                <tr>
                                    <td>{{ freq.dt_checkin.strftime('%d/%m/%Y %H:%M') }}</td>
                                    <td>
                                        {% if freq.dt_checkout %}
                                            {{ freq.dt_checkout.strftime('%d/%m/%Y %H:%M') }}
                                        {% else %}
                                            ---
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>

        </div>
    </div>

</body>
{% endblock %}
